/* **********************NAVBAR****************************** */


.nav-box{
    box-shadow: 8px 8px 10px #edebeb;
    margin-bottom: 1.2rem;
}
.navbar{
    background-color: #fff;
}
.container-fluid .navbar-brand{
    font-size: 28px;
    font-weight: 700;
}
.navbar span{
    color: #067377;
}
button .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(6,115,119, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
 .navbar-toggler{
    outline: 1px solid #067377;  
}
#form-control{
    font-weight: 400;
    width: 20rem;
    height: 2.5rem;
    outline: none;
    border: 1px solid #D9D7D7;
    border-radius: 1px;
    border-right: none;
    color: #5f5f5f;
    margin-left: 2.5rem;
    padding-left: 1rem;
}
@media(max-width:991px){
    #form-control{
        margin: auto;
    }
}
@media(max-width:767px){
    #searchform{
        margin: auto;
        width: 75%;
    }
    .d-flex button{
        width: 50%;
    }
}
.d-flex button{
    width: 5.9rem;
    height: 2.5rem;
    outline: none;
    background-color: #067377;
    color: #fff;
    border: 1px solid #D9D7D7;
    border-radius: 1px;
    border-left: none;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: .8rem;
}
.navbar .navbar-nav .nav-link{
    color: #5390d0;
    font-weight: 400;
}
.navbar .navbar-nav .nav-link:hover{
    color: #ff9900;
}
