body {
  background-color: #fff;
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  align-items: center;
  gap: 8px;
}

.breadcrumb .share {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 .4rem;
}

.breadcrumb .shareBtn {
  background-color: rgba(229, 231, 235);
  color: #232323;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

.breadcrumb .shareSocialLinks a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 .3rem;
}

.breadcrumb .shareSocialLinks {
  display: none;
}

.breadcrumb .shareSocialLinks.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.breadcrumb ul li {
  margin-right: .5rem;
  font-size: .75rem;
  font-weight: 500;
  color: #2e2e2e;
}

.breadcrumb ul li a {
  color: #0066ff;
}

@media(max-width: 600px) {
  .breadcrumb {
    align-items: center;
    padding: 0 .5rem;
  }

  .breadcrumb .share {
    margin-top: .4rem;
    flex-direction: row;
  }
}

.storePage {
  padding: 1rem;
}

.storePage .container {
  max-width: 800px;
}

.storePage .storeHeader {
  background-color: #fff;
  padding: 1rem 0;
  border-radius: 4px;
}

.storeHeader .avlDeals h2 {
  color: rgba(107, 114, 128);
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

.storeHeader .topdisc {
  margin-top: 1rem;
}

.storeHeader .topdisc p {
  color: rgba(107, 114, 128);
  font-weight: 500;
  font-size: 1rem;
}

.storePage .sideBanner {
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  padding: .5rem 0;
  background-color: #fff;
  margin-left: 10px;
}

.storePage .sideBanner .bannerImg {
  width: 150px;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.storePage .sideBanner .bannerImg img {
  max-width: 100%;
  margin: auto;
  display: block;
  max-height: 58px;
  object-fit: contain;
}

.storePage .sideBanner .stars {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .5rem;
}

.storePage .sideBanner .stars i {
  display: flex;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  color: #e6b322;
  margin: 0 .3rem;
}

.sideBanner .ratings {
  text-align: center;
  margin-top: .5rem;
}

.sideBanner .ratings p {
  text-align: center;
  font-weight: 500;
  font-size: .9rem;
}

.sideBanner .ratings span {
  color: #0d59a0;
}

.storePage .storeTitle {
  color: #2e2e2e;
  font-weight: 600;
  font-size: 1.45rem;
  margin-bottom: .5rem;
  line-height: 1.4;
}

.storePage .storeDesc p {
  color: #2e2e2e;
  line-height: 1.4;
  font-weight: 500;
  font-size: .95rem;
}

@media(max-width: 768px) {
  .storePage .sideBanner {
    margin-left: 0
  }
}

@media(max-width: 600px) {
  .storePage {
    padding: .8rem 0rem;
  }

  .storePage .container {
    padding: 0rem;
  }
}

.storBox .storeTab {
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  transition: all 0.2s ease-out 0s;
  padding-bottom: 0px;
  border-bottom: none;
  padding: .5rem;
  margin-bottom: 1.2rem;
}

.storBox .storeTab a {
  margin: 0 1rem;
  display: inline-block;
  border-radius: 50px;
  border: solid 1px #bdd1e2;
  padding: .45rem 1rem;
  color: #2e2e2e;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .5px;
}

.storBox .storeTab a.active {
  background-color: #daedfd;
}

.storBox .couponItem {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
  border-radius: .375rem;
  margin-bottom: 1rem;
  background-color: #fff;
}

.couponBox .todayUsed {
  display: flex;
  align-items: center;
  padding-bottom: .5rem;
}

.couponBox .todayUsed span {
  font-weight: 500;
  font-size: .8rem;
  padding: 0 .5rem;
  color: #2e2e2e;
}

.storBox .couponItem .couponBox {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #fff;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.storBox .couponItem .couponBox .couponDiscount {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: left;
  color: #2e2e2e;
}

.storBox .couponItem .couponBox .couponDiscount a {
  text-decoration: none;
  color: #2e2e2e;
  /* text-transform: uppercase; */
}

.storBox .couponItem .couponBox .couponDesc {
  color: #2e2e2e;
  font-size: .88rem;
  font-weight: 500;
  line-height: 1.4;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: justify;
}

.storBox .couponItem .couponBox .couponBtn {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.storBox .couponItem .couponBox .couponBtn a, .storBox .couponItem .couponBox .couponBtn button {
  width: 200px;
  height: 44px;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.76rem;
  color: #fff;
  background-color: #067377;
  letter-spacing: .5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  transition: .3s ease;
}
.storBox .couponItem .couponBox .couponBtn button {
  border: none;
  outline: none;
}

.storBox .couponItem .couponBox .couponBtn a:hover, .storBox .couponItem .couponBox .couponBtn button:hover {
  background: linear-gradient(45deg, #f45a52, #ed7430);
}

.storBox .couponItem .couponBox .couponBtn.getCode a, .storBox .couponItem .couponBox .couponBtn.getCode button{
  color: #444444;
  background: linear-gradient(315deg, rgba(0, 0, 0, 0.06) 10%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.06) 40%, rgba(0, 0, 0, 0.06) 60%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.06) 90%) repeat scroll 0 0 / 6px 6px rgba(0, 0, 0, 0);
  text-align: right;
  height: 44px;
  display: inline-flex;
  border: 2px solid #DDDDDD;
  position: relative;
  border-radius: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  font-size: 20px;
}
.storBox .couponItem .couponBox .couponBtn.getCode button{
  outline: none;
  border: none;
}

.storBox .couponItem .couponBox .couponBtn.getCode .code-text {
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  margin-left: 3.5rem;
}

.storBox .couponItem .couponBox .couponBtn.getCode .code-text {
  text-transform: uppercase;
  width: 100%;
  overflow: hidden;
  margin-left: 3.5rem;
}

.storBox .couponItem .couponBox .couponBtn.getCode .get-code {
  position: absolute;
  left: -2px;
  top: -2px;
  background: #ed7430;
  color: #FFFFFF;
  font-size: 16px;
  padding: 14px 15px 14px 14px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.5s ease;
  min-width: 55%;
  text-align: left;
}

.storBox .couponItem .couponBox .couponBtn.getCode .get-code:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 44px solid transparent;
  border-left: 44px solid #ed7430;
  position: absolute;
  right: -43px;
  top: 0px;
}

.storBox .couponItem .infoBox {
  padding: .5rem;
}

.infoBox .share {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 .4rem;
}

.infoBox .shareBtn {
  background-color: rgba(229, 231, 235);
  color: #232323;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.infoBox button.shareBtn {
  border: none;
  outline: none;
}

.infoBox .shareSocialLinks a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 .3rem;
}

.infoBox .shareSocialLinks {
  display: none;
}

.infoBox .shareSocialLinks.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox .showDtlBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.detailsBox .tnc {
  margin-top: .5rem;
  border-bottom: 1px solid #e2e2e2;
}

.detailsBox .tnc h4 {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.detailsBox .tnc ul {
  margin-left: 1.5rem;
}

.detailsBox .tnc ul li {
  list-style-type: disc;
  margin-bottom: .8rem;
  font-weight: 500;
  font-size: .85rem;
}

.infoBox .showBtn {
  font-size: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #2e2e2e;
  letter-spacing: .5px;
  transition: display 2s ease;
  padding-left: 0;
}

.infoBox .showBtn svg {
  margin-left: .4rem;
}

.infoBox .successRate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem;
}

.infoBox .successRate span {
  padding-right: 1rem;
  font-weight: 500;
  font-size: .75rem;
}

.infoBox .successRate a {
  padding: 0 .5rem;
}

@media(max-width: 600px) {
  .storePage .storBox {
    padding: 0 .5rem;
  }

  .storBox .couponItem .couponBox .couponBtn {
    width: 140px;
    justify-content: right;
    margin-left: .2rem;
  }

  .storBox .couponItem .couponBox .couponDiscount {
    font-size: 1.2rem;
  }

  .storBox .couponItem .couponBox .couponDesc {
    font-size: .9rem;
    text-align: left;
  }

  .detailsBox .tnc h4 {
    font-size: .95rem;
  }

  .detailsBox .tnc ul li {
    font-size: .8rem;
  }

  .storBox .storeTab a {
    margin: 0 .2rem;
  }

  .storBox .storeTab a {
    font-size: .8rem;
  }
}

.storesidebar .sidebarWidget {
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid rgb(209 213 219);
  padding: 1rem .5rem;
  margin-bottom: 1.2rem;
}

.storesidebar .sidebarWidget .widgetHeading {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.storesidebar .sidebarWidget .similarItem .similarImg {
  border: 1px solid rgba(128, 128, 128, 0.31);
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.storesidebar .sidebarWidget .similarItem img {
  max-width: 98%;
  margin: auto;
  display: block;
  max-height: 58px;
}

.storesidebar .sidebarWidget .storeName {
  font-weight: 500;
  color: #2e2e2e;
  font-size: .7rem;
  line-height: 1.4;
  text-align: center;
  display: block;
  margin: .5rem auto;
}

.storesidebar .sidebarWidget .storeName {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.storesidebar .sidebarWidget .topStore ul li {
  margin-bottom: .5rem;
}

.storesidebar .sidebarWidget .topStore ul li a {
  color: #2e2e2e;
  font-weight: 500;
  font-size: .85rem;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-decoration: underline;
}

@media(max-width: 600px) {
  .storesidebar {
    padding: .5rem;
  }
}

.storeContent {
  margin-top: 1rem;
}

.storeContent .couponSummary {
  border-radius: 3px;
  background-color: #fff;
  padding: 1.6rem .8rem;
}

.storeContent .couponSummary h3 {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: .5rem;
}

.storeContent .couponSummary p {
  font-weight: 500;
  color: #2e2e2e;
  font-size: .95rem;
  line-height: 1.4;
  margin-bottom: .5rem;
  text-align: justify;
}

.storeContent .couponSummary p a {
  color: #1a0dab;
  display: inline-block;
}

.storeContent .tableContainer table {
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: left;
  color: #333;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 1px solid #e2e2e2;
}

.storeContent .tableContainer table td {
  padding: 8px;
  vertical-align: top;
  border: 1px solid #e2e2e2;
}
@media(max-width:600px){
  .storeContent .tableContainer{
   padding: .5rem;
   }
  .storeContent .tableContainer table tr td:nth-of-type(3){
    word-break: break-all;
   }
   .storeContent .tableContainer table tr:nth-of-type(1) td:nth-of-type(3){
    word-break: normal;
   }
}

.storeContent .tableContainer table td strong {
  font-weight: 700;
}

@media(max-width: 600px) {
  .storeContent {
    padding: 0;
  }

  .storeContent .couponSummary h3 {
    font-size: 1.2rem;
  }
}

.storeContent .faqs {
  border-radius: 3px;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05); */
  background-color: #fff;
  padding: 1.6rem .8rem;
}

.storeContent .faqs h3 {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: .5rem;
}

.storeContent .faqs .faq_question {
  font-weight: 600;
  font-size: 1.1rem;
  color: #2e2e2e;
  letter-spacing: -.5px;
  line-height: 1.4;
  margin-bottom: .5rem;
  text-align: justify;
}

.storeContent .faqs .faq_answer {
  font-weight: 500;
  font-size: .9rem;
  color: #2e2e2e;
  letter-spacing: .5px;
  line-height: 1.4;
  margin-bottom: .5rem;
  text-align: justify;
}

/* get code and get deal modal */
.modal .modal-title {
  font-weight: 600;
}

.modal .btn-close {
  box-shadow: none;
  margin-left: 0;
}

.modal .modal-content .modal-header {
  border-bottom: none;
  justify-content: space-between;
}

.modal .modal-content .modal-footer {
  border-top: none;
}

.modal .modal-body .modal-store-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 80px;
  border: 1px solid #e2e2e2;
  transition: border .3s ease;
}

.modal .modal-body .modal-store-logo:hover {
  border: 1px solid #2ec4b6;
}

.modal .modal-body .modal-store-logo img {
  display: block;
  margin: auto;
  width: 98%;
  height: 78px;
  object-fit: contain;
}

.modal .modal-body .modalCode {
  margin: .8rem auto;
}

.modal .modal-body .modalCode span {
  text-transform: capitalize;
  padding: 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  color: #2e2e2e;
  border: 2px dashed #2ec4b6;
  font-size: 1.6rem;
}

.modal .codeCopyBtn {
  margin: auto;
}

.modal .codeCopyBtn button {
  padding: 8px 20px;
  border: 1px solid #e2e2e2;
  background-color: transparent;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid #ddd;
  background: #fafafa;
  color: #101010;
  border-radius: 8px;
}

.modal .storeBtn {
  margin: 1rem auto;
}

.modal .storeBtn a {
  background-color: #2f3c97;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  letter-spacing: .5px;
  margin: 2px;
}

.modal .isWorked {
  margin: .5rem auto;
}

.modal .isWorked h4 {
  text-align: center;
  color: #2e2e2e;
  font-size: 1.3rem;
  font-weight: 600;
}

.modal .isWorked .workedbtn {
  text-align: center;
  margin: .5rem auto;
}

.modal .isWorked .workedbtn .btnVote {
  background: #f5f5f5;
  border: 1px solid #eee;
  color: #2e2e2e;
  font-size: 13px;
  padding: 7px 10px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin: 0 .5rem;
}

.modal .isWorked .workedbtn .btnVote svg {
  margin-right: .4rem;
}

.modal-info {
  font-size: 1.1rem;
}

.popover {
  position: absolute;
  background-color: #2f3c97;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  top: 54px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  z-index: 99;
}

.couponBtn {
  position: relative;
  margin-bottom: 20px;
}

a.verifiedCoupon {
  font-weight: 500;
  color: #999;
  font-size: .75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

a.verifiedCoupon span {
  padding-left: .2rem;
}

.storeContent .offerToday {
  border-radius: 3px;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05); */
  background-color: #fff;
  padding: 1rem 0;
  /* margin-bottom: 1rem; */
}

.storeContent .offerToday h3 {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: .5rem;
}
@media(max-width:600px){
  .storeContent .offerToday h3 {
    font-size: 1.2rem;
  }
}
.storeContent .offerToday table td {
  font-weight: 500;
  color: #2e2e2e;
  font-size: .85rem;
  padding: .4rem 0;
  min-width: 110px;
}

.storeContent .offerToday table tr td:nth-of-type(2) {
  text-align: right;
}

.storeContent .storeWidget {
  border-radius: 3px;
  /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05); */
  background-color: #fff;
  /* border: 1px solid rgb(209 213 219); */
  padding: 1rem .5rem;
  /* margin-bottom: 1.2rem;
  margin-top: 1rem; */
}

.storeContent .storeWidget .widgetHeading {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.storeContent .storeWidget .topStore ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.storeContent .storeWidget .topStore ul li {
  margin-bottom: .5rem;
  width: calc(100%/4);
}

.storeContent .storeWidget .topStore ul li a {
  color: #2e2e2e;
  font-weight: 500;
  font-size: .85rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-decoration: underline;
  padding: .4rem;
  letter-spacing: .5px;
  margin-bottom: .5rem;
}

@media(max-width: 768px) {
  .storeContent .storeWidget .topStore ul li {
    width: calc(100%/3);
  }
}

@media(max-width: 500px) {
  .storeContent .storeWidget .topStore ul li {
    width: calc(100%/2);
  }
}

/* subscribe */

.subscribeBox {
  background-color: #fff;
}


.subscribeBox .subscribeBoxInner .subscribeImg {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0rem;
}

.subscribeBox .subscribeBoxInner .subscribeImg img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  max-height: 350px;
}
.subscribeBox .subscribeBoxInner .subscribeImg h2 {
  font-weight: 600;
  color: #2e2e2e;
  font-size: 1.45rem;
  line-height: 1.4;
}

.subscribeBox .subscribeBoxInner .subcribeForm {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  flex-direction: column;
}

.subscribeBox .subscribeBoxInner .subcribeForm form {
  max-width: 98%;
  width: 600px;
}
@media(max-width:768px){
  .subscribeBox .subscribeBoxInner .subscribeImg {
    padding: 2rem .2rem;
  }
  .subscribeBox .subscribeBoxInner .subscribeImg h2 {
    font-size: 1.25rem;
  }
}
.subscribeBoxInner .subcribeForm form .inputBox {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  border: 1px solid #e2e2e2;
  padding: 0 .5rem;
}

.subscribeBoxInner .subcribeForm form small {
  padding: 0 .2rem;
  font-weight: 500;
  color: #2e2e2e;
  letter-spacing: .5px;
  font-size: .7rem;
  display: block;
  margin-bottom: 1.5rem;
}

.subscribeBoxInner .subcribeForm form small a {
  color: #1a0dab;
  font-weight: 500;
  text-decoration: underline;
}

.subscribeBoxInner .subcribeForm form .inputBox:nth-of-type(2) {
  margin-bottom: .2rem;
}

.subscribeBoxInner .subcribeForm form .inputBox input {
  border: none;
  outline: none;
  box-shadow: none;
}

.subscribeBoxInner .subcribeForm form .inputBox input::placeholder {
  font-weight: 500;
  color: #2e2e2e;
  font-size: .85rem;
  letter-spacing: .5px;
}

.subscribeBoxInner .subcribeForm form .inputBox input:focus {
  box-shadow: none;
}

.subscribeBoxInner .subcribeForm form .subscribeBtn {
  margin: auto;
  text-align: center;
}

.subscribeBoxInner .subcribeForm form .subscribeBtn button {
  width: 400px;
  max-width: 98%;
  outline: none;
  border: none;
  background-color: #067377;
  color: #fff;
  font-weight: 500;
  padding: .6rem 1rem;
  letter-spacing: .5px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-transform: uppercase;
}

.subscribeBoxInner .subcribeForm form .subscribeBtn button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media(max-width: 768px) {
  .subscribeBox .subscribeBoxInner .subcribeForm {
    padding: 3rem 1rem;
  }
}

/*  */
.couponBtn .codeBtn {
  font-size: 1.125rem;
  line-height: 1.75rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  text-align: center;
  color: #fff;
  font-weight: 700;
  background-image: linear-gradient(to right, var(#bfdbfe, #dbeafe));
  border-radius: 9999px;
  position: relative;
  opacity: 1;
}

.couponBtn .codeBtn .save {
  font-size: 1.125rem;
  line-height: 1.75rem;
  opacity: 1;
  color: rgba(75, 85, 99, );
  text-align: right;
  padding-right: .75rem;
  padding-top: .625rem;
  padding-bottom: .625rem;
  border-radius: 9999px;
}

/*  */
.couponItem .storeName {
  font-weight: 500;
  color: #232323;
  font-size: .7rem;
}

.couponItem .isverified {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: .5rem;
}

.couponItem .isverified {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0;
  padding-left: .5rem;
  padding-top: .2rem;
}

.couponItem .isverified .verifiedIcon {
  margin-left: .5rem;
}
.verifiedIcon img{
  object-fit: contain;
}

.couponItem .isverified .verifiedIcon small {
  font-size: .7rem;
  margin-left: .2rem;
}

.couponItem .storeName {
  font-weight: 500;
  color: #232323;
  font-size: .8rem;
}

.feedBackBox {
  background-color: rgba(249, 250, 251, 1);
}

.feedBackBox .feedbackDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: .5rem;
  padding-bottom: 0;

}

.feedBackBox .feedbackDetails .feedBacktext {
  margin-bottom: 1rem;
}

.feedBackBox .feedbackDetails .feedBacktext p {
  color: rgba(55, 65, 81, 1);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .5px;
}

.feedBackBox .feedbackDetails .feedBackBtns {
  margin-bottom: 1rem;
}

.feedBackBox .feedbackDetails .feedBackBtns button {
  outline: none;
  box-shadow: var(0 0 #0000, 0 0 #0000), var(0 0 #0000, 0 0 #0000), var(0 25px 50px -12px rgba(0, 0, 0, .25));
  border-radius: 9999px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2.2;
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  font-size: .8rem;
  transition: .3s ease;
}

.feedBackBox .feedbackDetails .feedBackBtns button svg {
  margin-right: .5rem;
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(1) {
  border: 1px solid rgba(239, 68, 68, 1);
  color: rgba(239, 68, 68, 1);
  margin-right: .5rem;
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(1):hover {
  background-color: rgba(239, 68, 68, 1);
  color: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(1):hover svg {
  fill: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(1) svg {
  fill: rgba(239, 68, 68, 1);
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1) {
  border: 1px solid rgba(156, 163, 175, 1);
  color: rgba(156, 163, 175, 1);
  margin-right: .5rem;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1):hover {
  background-color: rgba(156, 163, 175, 1);
  color: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1):hover svg {
  fill: #fff;

}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1) svg {
  fill: rgba(156, 163, 175, 1);
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(2) {
  border: 1px solid rgba(16, 185, 129, 1);
  color: rgba(16, 185, 129, 1);
  margin-right: .5rem;
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(2) svg {
  fill: rgba(16, 185, 129, 1);
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(2):hover {
  background-color: rgba(16, 185, 129, 1);
  color: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button:nth-of-type(2):hover svg {
  fill: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled] {
  pointer-events: none;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1) svg {
  fill: rgba(156, 163, 175, 1);
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(2) {
  border: 1px solid rgba(156, 163, 175, 1);
  color: rgba(156, 163, 175, 1);
  margin-right: .5rem;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(2) svg {
  fill: rgba(156, 163, 175, 1);
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(2):hover {
  background-color: rgba(156, 163, 175, 1);
  color: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(2):hover svg {
  fill: #fff;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1).selected {
  background-color: rgba(239, 68, 68, 1) !important;
  color: #fff !important;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(1).selected svg {
  fill: #fff !important;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(2).selected {
  background-color: rgba(16, 185, 129, 1) !important;
  color: #fff !important;
}

.feedBackBox .feedbackDetails .feedBackBtns button[disabled]:nth-of-type(2).selected svg {
  fill: #fff !important;
}

.d-none {
  display: none;
}
@media(max-width:600px){
  .popover {
    font-size: .75rem;
    text-align: center;
    padding: .1rem;
    top: 46px;
    width: 100px;
  }
}
@media(max-width:500px){
  .storePage .storeTitle {
    font-size: 1.2rem;
   margin-right: .2rem;
  }
  .storeHeader .avlDeals h2 {
    font-size: .9rem;
  }
  .storePage .storeHeader {
    padding: 1rem .5rem;
  }
  .sideBanner .ratings p {
    font-size: .7rem;
  }
  .storePage .sideBanner {
    border-radius: 0px;
    box-shadow: none;
    background-color: #fff;

  }
  .storePage .bannerImg{
    border: 1px solid #e2e2e2;
    border-radius: 5px;
  }
  .storePage .sideBanner .stars {
    margin-top: 0rem;
  }
  
}
.loadMoreCoupon button{
  border: none;
  outline: none;
  background-color: #ed7430;
  color: #fff;
  font-weight: 500;
  padding: .5rem 1rem;
  border-radius: 4px;
  font-size: .9rem;
  cursor: pointer;
}
.storeCat{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.storeCat a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: .68rem;
  font-weight: 500;
  color: #fff;
  background-color: #067377;
  padding: .1rem .35rem;
  border-radius: 2px;
  letter-spacing: .4px;
}
